.active {
  border-right: 5px solid #ffb906 !important;
  display: flex;
  gap: 15px;
  color: #ffb906 !important;
  font-weight: bold;
  cursor: pointer;
}
:root {
  --value: 16;
  --max-value: 20;
  --size: 300px;

  --standard-font-size: 1rem;
  --second-font-size: 1em;
}

@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: calc(var(--value) * (100 / var(--max-value)));
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: calc(var(--value) * (100 / var(--max-value)));
  --size: 300px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 2 / 1;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from 0.75turn at 50% 100%,
    #ffb906 calc(var(--percentage) * 1% / 2),
    #e4e6e7 calc(var(--percentage) * 1% / 2 + 0.1%)
  );
  mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: black;
}

.background {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #ededed;
}

.sidenav {
  overflow: hidden;
  width: 15%;
  height: 100%;
  /* background-color: #f7f7f7; */
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.componentsBlock {
  height: 100%;
  width: 85%;
  background-color: #f9f9f9;
  box-shadow: #dcdcdc 0px 2px 20px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  display: flex;
}
.logo {
  padding-top: 13%;
  padding-bottom: 8%;
  width: 77%;
}

.profilePicture {
  width: 35%;
  object-fit: cover;
  border-radius: 100%;
  padding-bottom: 7%;
  padding-top: 10%;
}
.infoBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21%;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.function {
  font-size: 1rem;
  color: #ababab;
  margin-top: 7px;
}

.categoryBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 73%;
  padding-left: 28%;
  height: 71%;
  font-size: 1.3rem;
}

.lowerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 15%;
}
.logOut {
  text-decoration: none;
  color: black;
}

.nav_icons {
  display: flex;
  gap: 15px;
  color: #c5c5c8;
  cursor: pointer;
}
.left {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.BlockAbove {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.BlockDown {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.Blocks {
  width: 95%;
  height: 21rem;
  display: flex;
  justify-content: space-between;
}
.selectBox {
  font-size: var(--second-font-size);
  outline: none;
  border-radius: 5px;
  width: 18%;
  border: none;
}

.request_option {
  color: black;
  font-weight: bold;
}
/* /////////////////////////////////////////////////////////////// */
.verlofComponent {
  width: 89%;
  height: 25rem;
  background-color: white;
  border-radius: 35px;
  padding: 3%;
  border: 3px solid #f3f3f3;
}
.titleBlockNew {
  color: #ffb906;
  font-size: 1.5rem;
}
.titleBlockRequest {
  font-size: 24px;
  font-weight: bold;
}
.inputBlock {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
  font-size: var(--standard-font-size);
  color: #a8a8a8;
}
input {
  border: 1px solid #a8a8a8;
  height: 2rem;
  width: 12rem;
}
.textfield {
  border: 1px solid #a8a8a8;
  padding: 16px;
  min-height: 7rem;
  width: 96%;
  border-radius: 5px;
}
.sendBlock {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.sendButton {
  width: 20%;
  cursor: pointer;
}
.center {
  text-align: center;
  color: #ffb906;
}

.button {
  margin-top: 3%;
  color: white;
  background-color: #ffb906;
  outline: none;
  height: 2.5rem;
  width: 20%;
  border: none;
  border-radius: 5px;
  font-size: var(--standard-font-size);
}
.middle {
  height: 2.9rem;
  padding: 3%;
  font-size: var(--second-font-size);
  border-radius: 5px;
}
select {
  width: 12rem;
  height: 2rem;
}
.inputItem {
  gap: 8px;
  display: grid;
  width: 13rem;
}
/* ///////////////////////////////////////// */
.daysOffComponent {
  border-radius: 35px;
  height: 100%;
  width: 47%;
  background-color: white;
  border: 3px solid #f3f3f3;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.daysOffTop {
  height: 14%;
  width: 89%;
  padding: 3% 2% 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}
.daysOffBottom {
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.line {
  height: 2px;
  width: 85%;
  background-color: #f3f3f3;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.dots {
  gap: 5px;
  display: flex;
  padding: 2%;
  border: none;
  border-radius: 100%;
  color: black;
  background-color: #ededed;
  font-size: var(--standard-font-size);
  cursor: pointer;
}

/* ///////////////////////////////////////// */
.statusComponent {
  border-radius: 35px;
  width: 47%;
  background-color: white;
  height: 100%;
  border: 3px solid #f3f3f3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusComponentBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 81%;
  padding-left: 2%;
}

.confirmed {
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}
.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  width: 68%;
}

.checkIcon {
  color: #39c652;
}

.confirmedButton {
  background-color: #c7f9cf;
  color: #307746;
  border: none;
  padding: 2%;
  width: 25%;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #c6e9cd;
}

.pending {
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}
.pendingButton {
  color: #683e12;
  background-color: #f8e5c9;
  border: 2px solid #e9dbc8;
  font-weight: bold;
  width: 25%;

  border-radius: 5px;
  padding: 2%;
}

.denied {
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}
.deniedButton {
  background-color: #facbc8;
  color: #621616;
  border: 2px solid #e6c5c3;
  font-weight: bold;
  width: 25%;

  border-radius: 5px;
  padding: 2%;
}
.clockIcon {
  color: #f1a642;
}
.deniedIcon {
  color: #d93131;
}
/* /////////////////////////////// */
.maximum {
  width: 100%;
  text-align: center;
  color: #a8a8a8;
  font-size: var(--standard-font-size);
}
.reason {
  color: #8a8d90;
}
.date {
  font-weight: bold;
}
/* /////////////////////////////// */
.right {
  width: 35%;
  border-radius: 35px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;
  /* background-color: white; */
  /* box-shadow: #dcdcdc 0px 2px 20px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colleaguesDaysOffBlock {
  width: 80%;
  height: 52.3rem;
  border-radius: 35px;
  background-color: white;
  border: 3px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.colleaguesDaysOffBlock_top {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}
.colleaguesDaysOffBlock_block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.colleagueDayOffBlock {
  width: 85%;
  height: 6rem;
  padding: 0 2%;
  margin: 6% 0;
  border-left: 6px solid #ffb906;
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.colleagueDayOffBlock_left {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.colleagueDayOffBlock_right {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.colleague_name {
  font-size: var(--standard-font-size);
  font-weight: bold;
}

.colleague_info {
  width: 59%;
  display: flex;
  align-items: center;
}
.collegue_info_block {
  display: flex;
  flex-direction: column;
}
.logo_colleague {
  width: 33%;
  object-fit: cover;
  border-radius: 100%;
}
.colleague_function {
  font-size: 0.8rem;
  color: #8a8d90;
}

.endMonth {
  color: #aeaeae;
  font-size: var(--standard-font-size);
  font-weight: bold;
}
.beginMonth {
  font-size: var(--standard-font-size);
  font-weight: bold;
}
.day {
  font-weight: bold;
  font-size: 2rem;
}

.arrow {
  width: 20%;
}
.align-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow_status {
  width: auto;
  height: 1rem;
}
/* ///////////////////////////////////////// */

@media (max-width: 1440px) {
  .colleague_function {
    font-size: 0.7rem;
  }
  .colleague_name {
    font-size: 0.85rem;
  }
  .day {
    font-size: 1.6rem;
  }
  .beginMonth {
    font-size: 0.9rem;
  }
  .endMonth {
    font-size: 0.9rem;
  }
  .colleagueDayOffBlock_left {
    width: 53%;
  }
  input {
    font-size: 0.9rem;
  }
  .categoryBlock {
    font-size: 1.1rem;
  }
  [role="progressbar"] {
    width: 270px;
  }
  .daysOffTop,
  .colleaguesDaysOffBlock_top {
    font-size: 1rem;
  }
  .middle {
    font-size: 0.8rem;
  }
  .statusComponent {
    height: 99%;
  }
  .colleaguesDaysOffBlock {
    height: 53rem;
  }
}
@media (max-width: 1280px) {
  .colleague_name {
    font-size: 0.8rem;
  }
  .colleagueDayOffBlock {
    height: 4rem;
    padding: 3%;
  }
  .colleaguesDaysOffBlock {
    height: 52rem;
    width: 86%;
  }

  .day {
    font-size: 1.3rem;
  }
  .beginMonth,
  .endMonth {
    font-size: 0.7rem;
  }
  .arrow {
    width: 23%;
  }
  .colleague_function {
    font-size: 0.6rem;
  }
  .seeAll {
    font-size: 0.9rem;
  }
  .information {
    font-size: 0.85rem;
  }
  .confirmedButton,
  .deniedButton,
  .pendingButton {
    font-size: 0.75rem;
  }
  [role="progressbar"]::after {
    font-size: 3.4rem;
  }
  [role="progressbar"] {
    width: 243px;
  }
  .maximum {
    font-size: 0.9rem;
  }
  .middle {
    width: 9rem;
    font-size: 0.9rem;
    border: 1px solid#a8a8a8;
  }
  .Blocks {
    height: 16rem;
  }
  .title {
    font-size: 18px;
  }
  input {
    width: 8.45rem;
  }
  .inputItem {
    width: 9rem;
  }
  .verlofComponent {
    height: 23.4rem;
  }

  .verlofComponent {
    height: 29rem;
  }
  .textfield {
    min-height: 14rem;
  }
  .statusComponent {
    height: 99%;
  }
}
@media (max-width: 1024px) {
  .button {
    font-size: 0.9rem;
    height: 1.9rem;
    width: 18%;
  }
  .verlofComponent {
    height: 29rem;
  }
  .inputItem {
    width: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputBlock {
    font-size: 0.85rem;
    justify-content: space-between;
    align-items: center;
  }
  .titleBlockNew {
    font-size: 1.3rem;
  }
  .titleBlockRequest {
    font-size: 1.4rem;
  }
  .componentsBlock .Blocks {
    height: 16rem;
  }
  .profilePicture {
    width: 29%;
  }
  [role="progressbar"] {
    width: 200px;
  }
  [role="progressbar"]::after {
    font-size: 3.1rem;
  }
  .maximum {
    font-size: 0.85rem;
  }

  .componentsBlock {
    width: 95%;
  }
  .colleagueDayOffBlock {
    padding: 3% 2%;
  }
  .textfield {
    min-height: 16.4rem;
  }
  .middle {
    width: 100%;
    height: 2.7rem;
  }
  input {
    width: 89%;
  }
  .smallerSidenav {
    padding: 2% 0;
  }
  .categoryBlock {
    padding-left: 3%;
  }
}

@media (max-width: 768px) {
  .profilePicture {
    width: 85%;
  }
  .categoryBlock {
    width: 41%;
  }
  .componentsBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .titleBlockRequest {
    font-size: 1.2rem;
  }
  .textfield {
    min-height: 7.4rem;
  }
  .BlockAbove {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .verlofComponent {
    height: 21rem;
  }
  .daysOffComponent,
  .statusComponent {
    height: 86%;
    width: 31%;
  }
  .reason {
    display: none;
  }
}
/* /////////////////////////////////////////////////////////////////////////////////////// */

.componentsBlock_manager {
  display: flex;
  flex-direction: column;
}
.manager_block_above,
.manager_block_bottom {
  height: 50%;
  width: 85vw;
}
.manager_block_above {
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.manager_block_bottom {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.managers_blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12%;
  width: 20%;
  height: 15rem;
  background-color: white;
  border: 3px solid #f3f3f3;
  border-radius: 35px;
}

.managers_blocks_title {
  font-weight: bold;
  font-size: 1.6rem;
  color: #a8a8a8;
  display: flex;
  gap: 4%;
  width: 100%;
  justify-content: center;
}
.managers_blocks_number {
  font-size: 8rem;
  font-weight: bold;
}
.requestBlock {
  width: 19rem;
  height: 20rem;
  background-color: white;
  border: 3px solid #f3f3f3;
}
.employee_block_top {
  height: 30%;
  width: 98.2%;
  border-left: 6px solid #ffb906;
  display: flex;
  border-bottom: 2px solid #f3f3f3;
}
.textBlock {
  height: 36.7%;
  width: 100%;
  background-color: #faf8f4;
}
.textBlock_top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  font-size: 0.9rem;
}
.textBlock_bottom {
  height: 50%;
  display: flex;
  justify-content: space-around;
}
.reason_block {
  max-width: 80%;
  max-height: 100%;
  color: #a8a8a8;
  font-weight: lighter;
}
.acceptDeclineButtons {
  display: flex;
  width: 23%;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.submission_date {
  display: flex;
  width: 11rem;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9rem;
}
.submission_date {
  color: #a8a8a8;
}

.submission_date p span {
  color: red;
}
.accept,
.decline {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accept {
  background-color: #c7f9cf;
  color: #23693a;
}
.decline {
  background-color: #f8cbc8;
  color: #591211;
}
.titleName {
  font-size: 24px;
  font-weight: bold;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.requestBlocks {
  display: flex;
  padding: 0 3%;
  gap: 2.4%;
  row-gap: 4%;
  flex-wrap: wrap;
}
.dotsMore {
  gap: 5px;
  display: flex;
  padding: 1%;
  border: none;
  border-radius: 100%;
  color: black;
  background-color: #ededed;
  font-size: var(--standard-font-size);
  cursor: pointer;
}
.daysOffInfo {
  width: 59%;
}
