.colleague_block {
  height: auto;
  width: 19.83rem;
  background-color: white;
  margin-bottom: 5%;
}
.colleague_block_top {
  height: auto;
  width: 100%;
  border-left: 6px solid #ffb906;
  display: flex;
}
.colleague_block_bottom {
  height: 45%;
  width: 100%;
  border-top: 2px solid #f3f3f3;
}
.daysOffPicture {
  height: 3.9rem;
  width: auto;
  object-fit: cover;
  border-radius: 100%;
}
.img_text {
  width: 87%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 6rem;
}
.bold {
  font-weight: bold;
  font-size: 1.3rem;
}
.function_daysOff {
  font-size: 1rem;
  color: #ababab;
}
