@media only screen and (max-width: 2560px) {
  .dotsMore {
    padding: 0.5%;
  }
}
.dateBlock,
.textBlock {
  height: auto !important;
}

.textBlock_bottom,
.textBlock_top {
  padding: 3%;
}

@media only screen and (max-width: 1440px) {
  .img_text {
    height: 5rem !important;
  }
  .requestBlock {
    width: 16.35rem;
    height: 17rem;
  }
  .employee_block_top {
    height: auto;
  }
  .requestBlocks {
    height: 100%;
    display: flex;
    padding: 0 3%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .function_daysOff {
    font-size: 0.93rem !important;
  }
  .acceptDeclineButtons {
    width: 30%;
  }
  .textBlock {
    height: 36%;
  }
  .daysOffInfo {
    width: 61%;
  }
  .requestBlocks_status {
    gap: 2.43% !important;
  }
  .block_down {
    width: 72rem !important;
  }
  .colleague_block {
    width: 16.7rem !important;
  }
  /* ////////////////////////////////// */
  .tab-container {
    margin-top: 3% !important;
    padding: 0 0 5% 3% !important;
    display: flex;
    width: 50% !important;
    justify-content: space-between !important;
  }

  .confirmedBlock,
  .deniedBlock,
  .pendingBlock {
    width: 22.73% !important;
  }

  .day {
    font-size: 1.8rem;
  }
  .confirmedBlock,
  .pendingBlock,
  .deniedBlock {
    margin-bottom: 3%;
    width: 22.56% !important;
  }
  .block_down {
    gap: 2.63% !important;
  }
  .colleague_block {
    width: 16.58rem !important;
  }
  .colleaguesDaysOffBlock {
    height: 50rem;
  }
  .endMonthStatus,
  .beginMonthStatus {
    font-size: 1.2rem;
  }
  .arrow_status {
    height: 0.8rem;
  }
  .confirmedButton,
  .deniedButton,
  .pendingButton {
    width: 30%;
  }
  .information {
    width: 60%;
  }
  .confirmed,
  .denied,
  .pending {
    width: 87%;
  }
}

@media only screen and (max-width: 1024px) {
  .requestBlocks_status {
    gap: 3% !important;

    width: 81.5vw !important;
  }
  .colleague_block {
    width: 16.5rem !important;
  }

  .smallerSidenav {
    display: none;
  }
  .requestBlock {
    width: 16rem;
  }
  .requestBlock {
    height: 19rem;
  }
  .function_daysOff {
    font-size: 0.93rem;
  }
  .acceptDeclineButtons {
    width: 29%;
  }
  .managers_blocks_title {
    font-size: 1.2rem;
  }
  .managers_blocks_number {
    font-size: 6rem;
  }
  .managers_blocks {
    height: 13rem;
    width: 27%;
  }
  .manager_block_above {
    height: 28%;
  }
  .manager_block_bottom {
    height: 67%;
    justify-content: center;
  }
  .requestBlocks {
    gap: 2.09%;
    height: 56%;
    min-height: 261px;
  }
  .function {
    font-size: 0.85rem;
  }
  .active {
    width: 112%;
  }
  .img_text {
    height: 5rem;
  }
  .day {
    font-size: 1.9rem;
  }
  .beginMonth,
  .endMonth {
    font-size: 1.3rem;
  }
  .dateBlock {
    padding: 1% 0;
  }
  .textBlock {
    height: 50%;
  }
  .titleName {
    padding-bottom: 3%;
  }
  .employee_block_top {
    height: 30%;
  }
  .block_down {
    width: 52rem !important;
  }
  .manager_block_above {
    height: 43%;
  }

  /* /////////////////////////////////////// */
  .tab-container {
    margin-top: 3% !important;
    padding: 0 0 5% 3% !important;
    display: flex;
    width: 50% !important;
    justify-content: space-between !important;
  }
  .pendingBlock {
    width: 22.56%;
  }
  .confirmedBlock,
  .pendingBlock,
  .deniedBlock {
    margin-bottom: 3%;
    width: 22.56% !important;
  }
  .beginMonth,
  .endMonth {
    font-size: 0.7rem;
  }
  .day {
    font-size: 1.3rem;
  }
  .confirmedButton,
  .deniedButton,
  .pendingButton {
    width: 30%;
  }
  .confirmed,
  .denied,
  .pending {
    width: 88%;
  }
  .arrow_status {
    height: 0.8rem;
  }
  .colleaguesDaysOffBlock {
    height: 48.5rem;
  }
  .textfield {
    width: 93%;
    min-height: 14.4rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
  .sidenav {
    display: none;
  }
  .daysOffPicture {
    height: 2.9rem;
  }
  .smallerSidenav {
    display: block;
    width: 90px;
  }
  .managers_blocks_number {
    font-size: 2rem;
  }
  .smaller {
    display: none;
  }
  .managers_blocks {
    height: 6rem;
  }
  .manager_block_bottom {
    justify-content: normal;
    height: 80%;
    gap: 2%;
  }
  .managers_blocks_title {
    font-size: 10px;
  }
  .manager_block_top {
    height: 20%;
  }
  .titleName {
    font-size: 15px;
  }
  .bold {
    font-size: 1rem !important;
  }
  .function_daysOff {
    font-size: 0.8rem;
  }
  .requestBlock {
    width: 20.35rem;

    height: 21.6rem !important;
  }
  .requestBlocks,
  .titleName {
    padding: 0 4%;
  }

  .requestBlocks {
    display: flex;
    padding: 0 3%;
    gap: 2.4%;
    row-gap: 8%;
    flex-wrap: wrap;
    height: 100%;
    max-height: 43rem;
    overflow-y: auto;
  }
  .textBlock {
    height: 40.8%;
  }
  .beginMonth,
  .endMonth {
    font-size: 1rem;
  }
  .day {
    font-size: 1.5rem;
  }

  .textBlock {
    height: auto;
  }
  .componentsBlock_manager {
    justify-content: center;
  }
  .lowerBlock {
    height: 99%;
  }
  .dotsMore {
    padding: 2%;
  }
  .active {
    width: 150%;
  }
  .employee_block_top,
  .dateBlock {
    height: auto;
  }
  .textBlock_bottom,
  .textBlock_top {
    padding: 3%;
  }
  .acceptDeclineButtons {
    width: 25%;
  }
  .profilePicture {
    width: 71%;
  }
  .title_block {
    justify-content: center;
    font-size: 23px !important;
  }
  .margin {
    margin-bottom: 5%;
  }
  .colleague_block {
    margin-bottom: 15% !important;
    width: 20.8rem !important;
  }
  .block_down {
    max-height: 48rem !important;
    width: auto !important;
  }
  .img_text {
    height: 6rem !important;
  }
  .requestBlocks_status {
    width: auto !important;
  }
  /* ///////////////////////// */
  .confirmedBlock,
  .deniedBlock,
  .pendingBlock {
    width: 99% !important;
  }
  .tab-container {
    width: 94% !important;
  }
  .confirmedBlock,
  .pendingBlock,
  .deniedBlock {
    margin-bottom: 9%;
  }
  .componentsBlock {
    width: 87%;
  }
}
