.smallerLogo {
  width: 10%;
}
.smallerSidenav {
  overflow: hidden;
  width: 5%;
  height: 100%;
  /* background-color: #f7f7f7; */
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
